/* DOC INFO
  VERSION: 1.0
  AUTHOR: IndiJosh, Ornias
  DATE: Dec 20, 2017

  Made with love for Unity Station - CC0.
*/

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/* ===== GLOBAL ===== */
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #efefef;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

.margin-top-1rem {
  margin-top: 1rem;
}

.margin-bottom-1rem {
  margin-bottom: 1rem;
}

.margin-top-30 {
  margin-top: 30px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

/* ===== HEADER ===== */
.ss13-brand-image{
  width: 48px;
  height: 48px;
  margin-right: 15px;
}

.navbar-brand {
  font-weight: 700;
  font-size: 2rem;
  color: white !important;
}

.navbar-custom-dark {
  background-color: #2f2f2f;
}

.navbar-custom-dark a {
  color: #aaa;
}

.navbar-custom-dark a:hover, .navbar-custom-dark a:active {
  color: white;
}

/* ===== HERO IMAGE ===== */
.headerImage {
  background: url(../img/back.png) no-repeat center top;
  background-attachment: relative;
  background-position: center center;
  min-height: 475px;
  background-size: cover;
}

/* ===== ABOUT ===== */
.about-image {
  width: 200px;
}

.ourProject {
  font-size: 2.5rem;
  margin: 2rem 0;
}

.patreon-container {
  background-color: #f96854;
  color: #fff;
  padding-bottom: 30px;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.patreon-container a {
  color: #052d49;
}

/* ===== DOWNLOAD AREA ===== */
.honk {
  background-image: url("../img/clown.gif");
  width: 50px;
  height: 50px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: -100px;
  z-index: 1;
  display:inline;

  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.download-container {
  background-image: url("../img/stars.png");
  background-repeat: repeat;
  background-attachment: fixed;
  color: white;
  position: relative;
  padding-bottom: 2rem;
}

.download-container-inner{
  position: relative;
  z-index: 2;
}

.button-container {
  margin: 2rem 0;
}

.version-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
}

.download-image {
  margin: 2rem 0;
  width: 300px;
}

.audio-button {
  background: none;
  color: #fff;
  border: none;
  position: absolute;
  margin: 2rem;
  font-size: 2rem;
  z-index: 2;
}

.audio-button:focus {
  outline: none;
}


/* ===== SOCIAL MEDIA ===== */
.socialMedia-github:hover {
  color: #6cc644 !important;
}

.socialMedia-patreon:hover {
  color: #f96854 !important;
}

.socialMedia-twitter:hover {
  color: #1da1f2 !important;
}

.socialMedia-facebook:hover {
  color: #3b5998 !important;
}

.socialMedia-reddit:hover {
  color: #ff4500 !important;
}

.socialMedia-youtube:hover {
  color: #f00 !important;
}


#headerwrap h1 {
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 20px;
  letter-spacing: 4px;
  font-size: 80px;
  font-weight: bold;
}

#headerwrap h4 {
  font-weight: 400;
  color: #ffffff
}

#social {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f2f2f2;
}

#social i {
  font-size: 20px;
  color: #4a4a4a
}

#social i:hover {
  color: #1abc9c
}

#footerwrap {
  padding-top: 70px;
  padding-bottom: 50px;
  background-color: #2f2f2f;
}

#footerwrap p {
  color: #f2f2f2;
  margin-left: 10px;
}

#workwrap {
  background: url(../img/work.jpg) no-repeat center top;
  margin-top: -70px;
  padding-top: 250px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 650px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#workwrap h1 {
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 20px;
  letter-spacing: 4px;
  font-size: 80px;
  font-weight: bold;
}

#workwrap h4 {
  font-weight: 400;
  color: #ffffff
}

#aboutwrap {
  background: url(../img/about.jpg) no-repeat center top;
  margin-top: -70px;
  padding-top: 250px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 550px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* Gallery */

.gallery {
  margin-top: 30px;
}

.gallery img:hover {
  opacity: 0.4;
}
