/* DOC INFO
  VERSION: 1.0
  AUTHOR: IndiJosh, Ornias
  DATE: Dec 20, 2017

  Made with love for Unity Station - CC0.
*/

/* ===== GLOBAL ===== */
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #efefef;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

.margin-top-1rem {
  margin-top: 1rem;
}

.margin-bottom-1rem {
  margin-bottom: 1rem;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

/* ===== HEADER ===== */
.ss13-brand-image{
  width: 48px;
  height: 48px;
  margin-right: 15px;
}

.navbar-brand {
  font-weight: 700;
  font-size: 2rem;
  color: white !important;
}

.navbar-custom-dark {
  background-color: #2f2f2f;
}

.navbar-custom-dark a {
  color: #aaa;
}

.navbar-custom-dark a:hover, .navbar-custom-dark a:active {
  color: white;
}

/* ===== HERO IMAGE ===== */
.videoWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 20%;
}
.videoWrapper iframe {
	position: absolute;
  border: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
@media screen and (min-width:401px) {
  .playButton {
    color: #f00;
    font-size: 11rem;
    cursor: pointer;
  }
}
@media screen and (max-width:400px) {
  .playButton {
    color: #f00;
    font-size: 8rem;
    cursor: pointer;
  }
}
  @media screen and (min-width:581px) {
    .closePlayer{
      cursor: pointer;
      position: absolute;
      left: 1%;
      color: #aaa;
      text-align: center;
      border: 2px solid #aaa;
      padding: 5px;
    }
  }

@media screen and (max-width:580px) {
  .closePlayer{
    display: none;
    visibility: hidden;
  }
}

@media screen and (min-width:581px) {
  .closePlayerMob{
display: none;
    visibility: hidden;
  }
}

@media screen and (max-width:580px) {
  .closePlayerMob{
    cursor: pointer;
    position: absolute;
    left: 1%;
    color: #aaa;
    text-align: center;
    border: 2px solid #aaa;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
  }
}



/*
.headerImage {
  background: url(../img/back.jpg) no-repeat center top;
  background-attachment: relative;
  background-position: center center;
  height: 475px;
  background-size: cover;
} */
@media screen and (min-width:2001px) {
  .headerImage {
    background: url(../img/backhigh.jpg) no-repeat center top;
    background-attachment: relative;
    background-position: center center;
    height: 475px;
    background-size: cover;
  }
}

@media screen and (min-width:871px) and (max-width:2000px) {
  .headerImage {
    background: url(../img/back.jpg) no-repeat center top;
    background-attachment: relative;
    background-position: center center;
    height: 475px;
    background-size: cover;
  }
}

@media screen and (max-width:870px)  and (min-width: 396px) {

    .headerImage {
      background: url(../img/backlow.jpg) no-repeat center top;
      background-attachment: relative;
      background-position: center center;
      height: 210px;
      background-size: cover;
    }

}
@media screen and (max-width:395px) {
    .headerImage {
      background: url(../img/backmob.jpg) no-repeat center top;
      background-attachment: relative;
      background-position: center center;
      height: 150px;
      background-size: cover;
    }
  }



/* ===== ABOUT ===== */
.about-image {
  width: 200px;
}

.ourProject {
  font-size: 2.5rem;
  margin: 2rem 0;
}

.patreon-container {
  background-color: #f96854;
  color: #fff;
  padding-bottom: 30px;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.patreon-container a {
  color: #052d49;
}

/* ===== DOWNLOAD AREA ===== */
.honk {
  background-image: url("../img/clown.gif");
  width: 50px;
  height: 50px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: -100px;
  z-index: 1;
  display:inline;

  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.download-container {
  background-image: url("../img/stars.png");
  background-repeat: repeat;
  background-attachment: fixed;
  color: white;
  position: relative;
  padding-bottom: 2rem;
}

.download-container-inner{
  position: relative;
  z-index: 2;
}

.button-container {
  margin: 2rem 0;
}

.version-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
}

.download-image {
  margin: 2rem 0;
  width: 300px;
}

.audio-button {
  background: none;
  color: #fff;
  border: none;
  position: absolute;
  margin: 2rem;
  font-size: 2rem;
  z-index: 2;
}

.audio-button:focus {
  outline: none;
}

/* ===== CONTACT AREA ===== */
.contact-image{
  border: solid #5586a1;
  border-width: 0 0 20px 20px;
  padding: 2rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
  width: 333px;
  right: 0;
}

.orange-form-box,
.orange-form-box:active,
.orange-form-box:hover,
.orange-form-box:focus{
  background-color: #c84e24;
  color: #fff;
  border-radius: 0;
  border-color: #c84e24;
}

.orange-form-box:focus{
      box-shadow: 0 0 0 0.2rem rgba(185,144,126,.25);
}

.orange-form-box::placeholder{
  color: #ccc;
}

.container-narrow{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.btn-primary{
  background-color: #5586a1;
  border: #5586a1;
}

@media (min-width: 1200px){
  .container-narrow {
      max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-narrow {
      max-width: 720px;
  }
}

@media (min-width: 768px){
  .container-narrow {
      max-width: 720px;
  }
}

@media (min-width: 576px){
  .container-narrow {
      max-width: 540px;
  }
}

/* ===== FOOTER AREA ===== */
.footer-container{
  background-color: #2f2f2f;
  color: #fff;
}

.footerBottomRow{
  padding-bottom:30px;
}

.footerBrand{
  margin-bottom: 30px;
  padding-top: 30px;
}

/* ===== SOCIAL MEDIA ===== */
.socialMedia-github:hover {
  color: #6cc644 !important;
}

.socialMedia-patreon:hover {
  color: #f96854 !important;
}

.socialMedia-twitter:hover {
  color: #1da1f2 !important;
}

.socialMedia-facebook:hover {
  color: #3b5998 !important;
}

.socialMedia-reddit:hover {
  color: #ff4500 !important;
}

.socialMedia-youtube:hover {
  color: #f00 !important;
}

/* ==== MONSERAT FONT STYLESETTINGS ====  */
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(assets/webfonts/monserat-cir-ext.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(/assets/webfonts/monserat-cir.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(/assets/webfonts/monserat-viet.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(/assets/webfonts/monserat-lat-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(/assets/webfonts/monserat-lat.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
