<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109888477040-dhj3hml2lrg0bvgeetnf68icr9eenf7p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109888477040-dhj3hml2lrg0bvgeetnf68icr9eenf7p</string>
	<key>API_KEY</key>
	<string>AIzaSyB7GorzPgwHYjSV4XaJoszj98tLM4_WZpE</string>
	<key>GCM_SENDER_ID</key>
	<string>109888477040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.unitystation</string>
	<key>PROJECT_ID</key>
	<string>unitystation-c6a53</string>
	<key>STORAGE_BUCKET</key>
	<string>unitystation-c6a53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109888477040:ios:3ef7c16a1f39c2f6</string>
	<key>DATABASE_URL</key>
	<string>https://unitystation-c6a53.firebaseio.com</string>
</dict>
</plist>