# One year for image files
<filesMatch ".(jpg|jpeg|png|gif|ico|mp3)$">
Header set Cache-Control "max-age=31536000, public"
</filesMatch>
# One month for css and js
<filesMatch ".(css|js)$">
Header set Cache-Control "max-age=2628000, public"
</filesMatch>
# Two Days for HTML
<filesMatch ".(html)$">
Header set Cache-Control "max-age=172800, public"
</filesMatch>
