name: pr2changelog
on:
  pull_request_target:
    paths-ignore:
      - "CHANGELOG.md"
    branches:
      - develop
    types:
      - closed
      - edited
      - opened

jobs:
  dry_check:
    if: github.event.pull_request.merged == false

    name: changelog generator dry check
    runs-on: ubuntu-latest

    steps:
      - name: pr2changelog
        id: pr2changelog
        uses: corp-0/pr2changelog@api-integration
        with:
          categories: Fix;New;Improvement;Balance
          write_to_file: false

  after_merge:
    if: github.event.pull_request.merged == true

    name: changelog generator
    runs-on: ubuntu-latest

    steps:
      - name: pr2changelog
        id: pr2changelog
        uses: corp-0/pr2changelog@api-integration
        with:
          categories: Fix;New;Improvement;Balance
          write_to_file: false
          api_secret_token: ${{ secrets.CHANGELOG_API_SECRET }}
          api_url: "https://changelog.unitystation.org/register-change"

