name: pr2changelog
on:
    pull_request_target:
        branches:
            - develop
        types:
            - closed
            - edited
            - opened

jobs:
    dry_check:
        if: github.event.pull_request.merged == false

        name: changelog generator dry check
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout repository
                uses: actions/checkout@v2
                with:
                    fetch-depth: 0

            -   name: pr2changelog
                id: pr2changelog
                uses: corp-0/pr2changelog@master
                with:
                    categories: Fix;New;Improvement;Balance

    after_merge:
        if: github.event.pull_request.merged == true

        name: changelog generator
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout repository
                uses: actions/checkout@v2
                with:
                    fetch-depth: 0

            -   name: pr2changelog
                id: pr2changelog
                uses: corp-0/pr2changelog@master
                with:
                    categories: Fix;New;Improvement

            -   name: Commit files
                if: ${{ steps.pr2changelog.outputs.generated_changelog == 1}}
                run: |
                    git config --local user.email "action@github.com"
                    git config --local user.name "GitHub Action"
                    git add *
                    git commit -m "misc: update Changelog" -a
            -   name: Push changes
                if: ${{ steps.pr2changelog.outputs.generated_changelog == 1}}
                uses: ad-m/github-push-action@master
                with:
                    force: true
                    github_token: ${{ secrets.GITHUB_TOKEN }}
