name: Build Project

on:
  push:
    branches:
    - develop
    - master
    paths:
    - 'Tools/UnityLicense.ulf'
    - 'UnityProject/**'
    - '.github/workflows/main.yml'
    - 'Docker/**'
  pull_request:
    branches:
    - develop
    - master
    paths:
    - 'Tools/UnityLicense.ulf'
    - 'UnityProject/**'
    - '.github/workflows/main.yml'

jobs:

  ########## HOW TO UPDATE UNITY_LICENSE ##########
  # The job below is only used to request a new activation file
  #
  # !!! WARNING: Use a throw away Unity account for this since anyone will have access to the license file !!!
  #
  # If you need a new one follow these steps:
  #   - Uncomment the job below and run it
  #   - Download the manual activation file that appears as an artifact in a zip (Unity_v20XX.x.alf).
  #   - Visit license.unity3d.com, sign in and upload it.
  #   - You should now receive your license file (Unity_v20XX.x.ulf) as a download.
  #   - Replace UnityLicense.ulf in the Tools directory with it.
  #   - Make sure LICENSE_FILE_PATH in the 'Setup license' step still points to it.

  # # Request license file job
  # requestManualActivationFile:
  #   name: Request manual activation file
  #   runs-on: ubuntu-latest
  #   steps:
  #     # Request manual activation file
  #     - name: Request manual activation file
  #       uses: webbertakken/unity-request-manual-activation-file@v1.1
  #       id: getManualLicenseFile
  #       with:
  #         unityVersion: 2019.3.8f1
  #     # Upload artifact (Unity_v20XX.X.XXXX.alf)
  #     - name: Expose as artifact
  #       uses: actions/upload-artifact@v1
  #       with:
  #         name: ${{ steps.getManualLicenseFile.outputs.filePath }}
  #         path: ${{ steps.getManualLicenseFile.outputs.filePath }}
    
  # Perform build job
  performBuild:
    name: Build for ${{ matrix.targetPlatform }} on version ${{ matrix.unityVersion }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        projectPath:
          - UnityProject
        unityVersion:
          - 2019.3.8f1
        targetPlatform:
          - StandaloneWindows64
          - StandaloneOSX
          - StandaloneLinux64
    steps:
      - name: free disk space
        run: |
          sudo swapoff -a
          sudo rm -f /swapfile
          sudo apt clean
          docker rmi $(docker image ls -aq)
          df -h
      # Remove old artifacts so we don't run out of space!
      - name: Remove old artifacts
        uses: c-hive/gha-remove-artifacts@v1
        with:
          age: '1 month'
          skip-tags: true

      # Checkout repository (required to test local actions)
      - name: Checkout repository
        uses: actions/checkout@v2.0.0

      # Cache the library directory to speed up builds
      - name: Cache library directory
        uses: actions/cache@v1.1.0
        with:
          path: ${{ matrix.projectPath }}/Library
          key: Library4-${{ matrix.projectPath }}-${{ matrix.targetPlatform }}
          restore-keys: |
            Library4-${{ matrix.projectPath }}-${{ matrix.targetPlatform }}
            Library4-${{ matrix.projectPath }}-
            Library4-

      # Set the UNITY_LICENSE environment variable
      - name: Setup license
        # This step:
        #   - Grabs the license file contents from the $LICENSE_FILE_PATH
        #   - Uses substitution to escape newline characters for GitHub Actions set-env.
        #     (from: https://github.community/t5/GitHub-Actions/set-output-Truncates-Multiline-Strings/td-p/37870)
        #   - Set the UNITY_LICENSE env var for all future steps using special GitHub Actions syntax
        env:
          LICENSE_FILE_PATH: ./Tools/UnityLicense.ulf
        run: |
          license=$(<"$LICENSE_FILE_PATH")
          license="${license//'%'/'%25'}"
          license="${license//$'\n'/'%0A'}"
          license="${license//$'\r'/'%0D'}"
          echo "::set-env name=UNITY_LICENSE::$license"
      - name: Build number
        env:
          BUILDINFO_PATH: ${{ matrix.projectPath }}/Assets/StreamingAssets/buildinfo.json
          CONFIG_PATH: ${{ matrix.projectPath }}/Assets/StreamingAssets/config/config.json
          CDN_PATH_WIN: ${{ format('https://unitystationfile.b-cdn.net/UnityStationDevelop/StandaloneWindows64/{0}.zip', github.run_number) }}
          CDN_PATH_OSX: ${{ format('https://unitystationfile.b-cdn.net/UnityStationDevelop/StandaloneOSX/{0}.zip', github.run_number) }}
          CDN_PATH_LIN: ${{ format('https://unitystationfile.b-cdn.net/UnityStationDevelop/StandaloneLinux64/{0}.zip', github.run_number) }}
        run: |
          sudo apt-get install moreutils
          jq --arg v "$GITHUB_RUN_NUMBER" '.BuildNumber = $v' $BUILDINFO_PATH | sponge $BUILDINFO_PATH
          jq --arg v "UnityStationDevelop" '.ForkName = $v' $BUILDINFO_PATH | sponge $BUILDINFO_PATH
          jq --arg v "$CDN_PATH_WIN" '.WinDownload = $v' $CONFIG_PATH | sponge $CONFIG_PATH
          jq --arg v "$CDN_PATH_OSX" '.OSXDownload = $v' $CONFIG_PATH | sponge $CONFIG_PATH
          jq --arg v "$CDN_PATH_LIN" '.LinuxDownload = $v' $CONFIG_PATH | sponge $CONFIG_PATH
      # Build the project
      - name: Build project
        uses: webbertakken/unity-builder@v0.9
        with:
          projectPath: ${{ matrix.projectPath }}
          unityVersion: ${{ matrix.unityVersion }}
          targetPlatform: ${{ matrix.targetPlatform }}
          buildName: Unitystation
          buildMethod: BuildScript.BuildProject

      # Upload distributables
      - name: Upload Build
        uses: actions/upload-artifact@v1
        with:
          name: ${{ matrix.targetPlatform }}
          path: build/${{ matrix.targetPlatform }}

  upload:
    if: github.event_name == 'push' && github.ref == 'refs/heads/develop'
    needs: performBuild
    name: Upload ${{ matrix.targetPlatform }} to CDN
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        targetPlatform:
          - StandaloneWindows64
          - StandaloneOSX
          - StandaloneLinux64
    steps:
      - uses: actions/download-artifact@v1
        with:
          name: ${{ matrix.targetPlatform }}
          path: ./Build
      - name: Zip Build
        run: |
          cd Build
          zip -qq -r ../Build.zip .
      - name: Upload to CDN
        env:
          CDN_HOST: ${{ secrets.CDN_HOST }}
          CDN_USERNAME: ${{ secrets.CDN_USERNAME }}
          CDN_PASSWORD: ${{ secrets.CDN_PASSWORD }}
          UPLOAD_FOLDER: UnityStationDevelop/${{ matrix.targetPlatform }}
          RUN_NUMBER: ${{ github.run_number }}
        run: |
          ftp -invp <<EOF
          open $CDN_HOST
          user $CDN_USERNAME $CDN_PASSWORD
          binary
          rmdir "${UPLOAD_FOLDER}"
          put "./Build.zip" "${UPLOAD_FOLDER}/${RUN_NUMBER}.zip"
          bye
          EOF

  Imaging:
    if: github.event_name == 'push' && github.ref == 'refs/heads/develop'
    needs: performBuild
    name: Create Docker image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.0.0
      - uses: actions/download-artifact@v1
        with:
          name: StandaloneLinux64
          path: Docker/server
      - name: Publish to Registry
        uses: elgohr/Publish-Docker-Github-Action@2.12
        with:
          name: unitystation/unitystation
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          context: Docker
  
  Staging:
    if: github.event_name == 'push' && github.ref == 'refs/heads/develop'
    needs: Imaging
    name: Deploy to Staging
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: webfactory/ssh-agent@v0.2.0
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
    - name: Deploy to remote
      env:
        DOCKER_HOST: ${{ format('ssh://{0}', secrets.SSH_USER) }}
        SSH_KNOWN_HOSTS: ${{ secrets.SSH_KNOWN_HOSTS }}
        HUB_USERNAME: ${{ secrets.HUB_USERNAME }}
        HUB_PASSWORD: ${{ secrets.HUB_PASSWORD }}
        ERROR_WEBHOOK: ${{ secrets.ERROR_WEBHOOK }}
      run: |
        echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
        chmod 644 ~/.ssh/known_hosts
        sudo curl -L "https://github.com/docker/compose/releases/download/1.25.3/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
        sudo chmod +x /usr/local/bin/docker-compose
        cd Docker
        docker-compose pull
        docker-compose up -d --remove-orphans

